Button {
    -fx-background-color: #006AF5;
    -fx-border-radius: 50px;
    -fx-background-radius: 4px;
}

BorderPane {
    -fx-background-color: #ffffff;
}

TextField {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-size : 100px;
}

PasswordField {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}